.gallery{
	position:relative;
	width: 100%;
}
.gallery .prev{
	position:relative;
	height: 500px;
	padding: 10px;
}
.gallery .prev #pic-prev{
	height: 100%;
	display: block;
	margin: auto;
}
.gallery .minis{display:flex;
	position:relative;
	height: 200px;
	padding:10px 0px;
	overflow-x: scroll;
}
.gallery .minis .pic-mini{
	display: inline-block;
	height: 160px;
	margin:0 2px;
}